[Unit]
Description=Emergency Alert System Ops Server
After=network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/etc/EAS/ops_server

[Install]
WantedBy=multi-user.target
